/* =====================================================
   TOASTIFY CONTAINER
===================================================== */

.Toastify__toast-container {
  z-index: 999999 !important;
}


/* =====================================================
   TOAST MESSAGE
===================================================== */

.Toastify__toast {
  position: relative;
  z-index: 999999 !important;

  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  min-width: 300px;
}


/* =====================================================
   TOAST CONTENT
===================================================== */

.Toastify__toast-body {
  position: relative;
  z-index: 999999 !important;
}


/* =====================================================
   MOBILE
===================================================== */

@media (max-width: 768px) {

  .Toastify__toast-container {
    z-index: 999999 !important;

    width: calc(100% - 30px);

    left: 15px;
    right: 15px;

    top: 20px;
  }


  .Toastify__toast {
    z-index: 999999 !important;

    width: 100%;
    min-width: 0;

    font-size: 15px;
  }
}


/* =====================================================
   VERY SMALL MOBILE
===================================================== */

@media (max-width: 450px) {

  .Toastify__toast-container {

    top: 15px;

    left: 10px;
    right: 10px;

    width: calc(100% - 20px);
  }


  .Toastify__toast {

    font-size: 14px;
  }
}